<% @course = FreeLearn::VishEditor::Course.find(params[:id]) %>
<%content_for :title do %><%= @course.title %> - <%= !@course.user.nil? ? @course.user.email : "" %><% end %>
<%content_for :description do %><%= t("site.meta_desc.excursion")+ @course.title + ". " + (@course.description ? @course.description : "")  %><% end %>
<%#content_for :og_image do %><%#= @course.thumbnail_url || "http://" + request.env['HTTP_HOST'] + "/assets/logos/original/excursion-vish.png" || ""%><%# end TODO add name to user%>

<%=javascript_include_tag "RegaddiChart" %>
<%=javascript_include_tag "VISH.IframeAPI" %>

<script type="text/javascript">

  //VE extra vars
  var options = {};
  options["readHashFromParent"] = true;
</script>

<section id="show_items " class="layout_show">

  <div class="doc-show">
    <div class="box-show">
      <div class="viewerContainer">
        <div class="viewerElement"></div>
        <%= render :partial => 'excursion_show', :locals  => { :course => @course } %>
      </div>
    </div>

    </div>
  </div>

</section>

