<!DOCTYPE html>
<html>
  <head>
    <%if @title%>
      <title><%=@title%></title>
    <% end %>

    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <%if controller.action_name != "editor_full" %>
      <%js_file = "vishViewer"%>
    <%else%>
      <%js_file = "vishEditor"%>
      <script type="text/javascript">
        var CKEDITOR_BASEPATH = '/assets/ckeditor/';
      </script>
      <%= javascript_include_tag "ckeditor/ckeditor" %>
    <%end%>

    <% if Rails.env == "production" and not request.host == "vishub-test.dit.upm.es" %>
      <%= javascript_include_tag js_file + ".min" %>
    <% else %>
      <%= javascript_include_tag js_file %>
    <% end %>

    <%= stylesheet_link_tag "vish_editor" %>

    <%= yield :headers %>
  </head>

  <body onload="start()" style="display: none" class="loaded">
    <%= yield %>
  </body>

</html>

<script>  

  options = {};
  var configuration = {};

  configuration["mode"] = "vish";

  configuration["ImagesPath"] = "/assets/";
  configuration["StylesheetsPath"] = "/assets/";

  configuration["rootPath"] = "/todo";

  configuration["Upload"] = true;
  configuration["uploadImagePath"] = "/todo";
  configuration["uploadObjectPath"] = "/todo";
  configuration["uploadPresentationPath"] = "/todo";
  configuration["uploadPDF2PPath"] = "/todo";

  // Sources enabled
  configuration["ViSH"] = false;
  configuration["ViSH_instances"] = ["/todo"];
  configuration["Flickr"] = false;

  configuration["Vimeo"] = false;
  configuration["LRE"] = false;
  configuration["LRE_path"] = "/lre/search";
  

  configuration["presentationSettings"] = true;
  

  options["configuration"] = configuration;
  

  options["developping"] = false;


    options["user"] = {
      name: "name",
      id: "1",
      token: ""
    };

  options["draft"] = "";

  options["lang"] = "<%= I18n.locale.to_s%>";

  options["exitURL"]  = "/";


  options.addons = [];

  var addon = new Object();
  addon.target = "Both";
  addon.id = "IframeMessenger";
  addon.config = {enable: true};
  options.addons.push(addon);

  function start(){
    VISH.Editor.init(options);
  }
  
</script>